@import './base.css';
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 4rem;
  margin: 2rem;
  color: whitesmoke;
}

.subHeader {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: whitesmoke;
  text-align: center;
}

button {
  width: 100%;
  transition: filter 0.3s ease 0.3s;
}

input {
  text-align: center;
  width: 100%;
}
.mg-y-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mg-y-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mg-y-25 {
  margin-top: 15px;
  margin-bottom: 15px;
}